.textColor {
    color: #404040 !important;
}
.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    gap: 24px !important;
  }
  .title {
    color: #242424;
    
    letter-spacing: -1.9px !important;
    line-height: 70px !important;
    font-weight: 900 !important;

  }
  .subTitle {
    line-height: 1.5 !important;
    letter-spacing: -0.7px !important;
    color: #000000 !important;
    font-weight: 400 !important;
    white-space: pre-line !important;
  }
  .responsive {
    width: 100% !important;
    height: auto !important;
  }
  .design {
    display: flex !important;
    gap: 32px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    align-content: space-around !important;
    justify-content: space-evenly !important;
    flex-wrap: wrap !important;
  }
  .imgModal {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: white !important;
  }