.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 12px !important;
  }
  .skillsHeader {
    color: #404040 !important;
  }