.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 12px !important;
   
  }
  
.textColor {
    color: #1f1f29 !important;
}