.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
  .contactHeader {
    color: #404040;
    font-weight: 500;
  }
  .textColor {
    color: #404040;
}
.subTitle {
  line-height: 1.5;
  letter-spacing: -0.7px;
  color: #000000;
  font-weight: 400;
  white-space: pre-line;
}