.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    gap: 32px !important;
  }
  .titleContainer {
    flex: none;
    height: auto;
    max-width: 600px;
    min-width: 300px;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
  }
  .subTitleContainer {
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    max-width: 600px;
    min-width: 300px;
    overflow: visible;
    padding: 20px 0 0;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
  }
  .title {
    line-height: 1.3em !important;
    letter-spacing: -0.32px !important;
    color:#000000 !important;
    font-weight: 400 !important;
    white-space: pre-line !important;
    font-size: 2.625rem !important;
    white-space: nowrap;


  }
  .subTitle {
    font-style: normal !important;
    line-height: 1.4em !important;
    letter-spacing: 0 !important;
    color:#000000bf !important;
    font-weight: 400 !important;
    white-space: pre-line !important;
    font-size: 1.3rem !important;
  }
  /* .title::before {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: black;
    background: rgb(209, 205, 205);
    animation: typing 4s steps(24) forwards,
      caret 1s infinite;
  }
  @keyframes typing {
    to { width: 0 }
  }
  @keyframes caret {
    50% { color: transparent }
  } */