.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    gap: 24px !important;
  }
  .aboutMe {
    color: #242424 !important;
    
    letter-spacing: -1.9px !important;
    line-height: 70px !important;
    font-weight: 900 !important;
    padding-bottom: 18px;

  }
  .subTitle {
    line-height: 1.5 !important;
    letter-spacing: -0.7px !important;
    color: #000000 !important;
    font-weight: 400 !important;
    white-space: pre-line !important;
    font-size: 2rem !important;
  }
  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2s;        /* Change to speed up or slow down */
    animation-iteration-count: 1;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  .wave:focus {
    animation: wobble 2s 1;
  }
  .wave:active {
            animation: none;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  